<div class="text-white w-[60vw]">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="grid md:grid-cols-2 text-sm">
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">First Name</div>
      <p class="px-4 py-2"><%= current_user.first_name %></p>
    </div>
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">Last Name</div>
      <p class="px-4 py-2"><%= current_user.last_name %></p>
    </div>
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">Email</div>
      <div class="px-4 py-2">
        <p><%= current_user.email %></p>
      </div>
    </div>
    </div>
  <% end %>
</div>
