
 <div class="container">
     <h1>New Post arrived!</h1>
     <p>Hello Dear Reader,</p>
     <p>A new blog post has been published. It might be a topic that interests you!</p>
     <img src="https://leverageedu.com/blog/wp-content/uploads/2020/07/Masters-in-Computer-Science-760x440.jpg" alt="Featured Image" class="featured-image">
    <h2><%= post.title %></h2>
    <p><%= post.summary %></p>
     <p>Thanks for reading!</p>
     <p>Best Regards,</p>
     <p>Blog Team</p>
</div>

