<section class="hero">
    <div class="container">
        <div class="hero-inner">
<div class="hero-copy">
              <h1 class="hero-title mt-0">Cyber Security For Web Developers</h1>
              <p class="hero-paragraph">Keeping Your Code Secure: <span class="text-[#ff8405]">CSFD</span> Way </p>
              <p class="hero-paragraph"><span class="text-[#ff8405]">CSFD</span> is here to accompany you on your journey to specialize in cyber security for developers.</p>
              <div class="hero-cta"><a class="button button-primary" href="<%= new_user_registration_path %>">Sign in</a><a class="button" href="<%= posts_path %>">All Posts</a></div>
</div>
<div class="hero-figure anime-element">
	<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
		<rect width="528" height="396" style="fill:transparent;" />
	</svg>
	<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
	<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
	<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
	<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
	<div class="hero-figure-box hero-figure-box-05"></div>
	<div class="hero-figure-box hero-figure-box-06"></div>
	<div class="hero-figure-box hero-figure-box-07"></div>
	<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
	<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
	<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
</div>
        </div>
    </div>
</section>
