<section class="pricing section overflow-hidden">
   <div class="container-sm">
      <div class="pricing-inner section-inner">
         <div class="pricing-header text-center">
            <h2 class="section-title mt-0">Subscribe to Our Newsletter</h2>
            <p class="section-paragraph mb-0">Stay updated with our latest blog posts. Subscribe now!</p>
         </div>
         <div class="pricing-tables-wrap">
            <div class="pricing-table">
              <div class="pricing-table-inner is-revealing">

									<div class="pricing-table-features-title text-xs pt-24 ">
                    <h6 class="text-xs text-white mb-4">Join our newsletter</h6>
									</div>
                 <div class="pricing-table-main">
                   <%= form_with model: Newsletter.new, url: newsletter_create_path, method: :post do |f| %>
                      <label for="hero-field" class="leading-7 text-sm text-wihte">E-Mail Adress</label>
                      <%= f.text_field :email, id:"hero-field", class:"peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" %>
                      <%= f.submit "Send",  class:"w-full h-12 mt-6 flex items-center justify-center bg-blue-600 text-white rounded-lg font-semibold text-sm transition duration-150 ease-in-out hover:bg-blue-700" %>
                    <% end %>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</section>
